.drawer-container {
    height: 100vh;
    width: 35%;
    padding: 0px 3%;
    box-sizing: border-box;
    border-left: 3px solid black;
    font-size: 1.3rem;
}

.drawer-close {
    display: none;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.header-text {
    font-size: 20px;
    font-weight: bolder;
}

.cross {
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.input-box {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 80%;
    height: 30px;
    font-weight: bold;
    padding: 0pc 10px;
}

.btn {
    border: 2px solid black;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    height: 35px;
    width: 150px;
    background-color: white;
}

.btn-done {
    margin-top: 200px
}